@using TriviaRoyale.Client.Shared.Host
@page "/Host/{RoomId}"
@using TriviaRoyale.Client.Shared.Host.QuestionScreen
@using TriviaRoyale.Shared;
@inject ICookie cookie;
@inject HostService service;
@inject NavigationManager navigation;

<PageTitle>Host - Quiz my app</PageTitle>




<div class="d-flex flex-column justify-content-evenly align-items-center w-100 vh-100 bg-dark text-light">


	@switch (service.GameState)
	{

		case GameState.Playing:
		case GameState.PlayerToAnswer:
		case GameState.EliminationRound:
			<QuestionScreen />
			break;
		case GameState.Ended:
			<HostEnd />
			break;
		case GameState.EndOrElimination:
			<EndOrElimination />
			break;
		default:
			<PlayerJoinScreen />
			break;
	}

</div>





@code {




}