@page "/"
@using Microsoft.AspNetCore.SignalR.Client;
@using TriviaRoyale.Client.Shared.Host.JoinScreen
@inject NavigationManager Navigation





<PageTitle>Trivia Royale</PageTitle>

<h3>Test</h3>
<PlayerJoinScreen />

<div>
    <h3>Messages:</h3>
    @foreach(var msg in messages)
    {
        <p>@msg</p>
    }
</div>



@code {
    
   
    
}