@using System.Threading.Tasks
@inject NavigationManager Navigation

@page "/Host/{name}"

<h3>Waiting for host to start</h3>

<p>Players in the lobby:</p>
<p>@Name</p>

<p>Game starts in: @countdown</p>
@code {
    [Parameter] public string Name { get; set; }
    protected override void OnInitialized()
    {
        // You can use the name here as well
    }

    private int countdown = 5;

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            while (countdown > 0)
            {
                await Task.Delay(1000); // 1 second delay
                countdown--;
                StateHasChanged(); // Forces the component to re-render
            }
            Navigation.NavigateTo("/Question");
        }
    }

}