@page "/"
@using Microsoft.AspNetCore.SignalR.Client;
@using TriviaRoyale.Client.Shared.Host.JoinScreen
@inject NavigationManager Navigation





<PageTitle>Trivia Royale</PageTitle>


<PlayerJoinScreen />

<div>
    @foreach(var msg in messages)
    {
        <p>@msg</p>
    }
</div>



@code {
    
   
    
}