@page "/Host/{RoomId}"
@using TriviaRoyale.Client.Shared.Host
@using TriviaRoyale.Client.Shared.Host.QuestionScreen
@using TriviaRoyale.Shared;
@inject ICookie cookie;
@inject HostService service;

<PageTitle>Host - Quiz my app</PageTitle>




<div class="d-flex flex-column justify-content-evenly align-items-center w-100 vh-100 bg-dark">


@switch(service.GameState)
{

    case GameState.Playing:
    case GameState.PlayerToAnswer:
        <QuestionScreen />
        break;
    case GameState.Ended:
        <HostEnd />
        break;
    default:
        <PlayerJoinScreen />
        break;
}

</div>





@code {




}