@using TriviaRoyale.Client.Shared.PlayerPage
@page "/Player/{roomID}"
@inject PlayerService service;

<div>

    @if(service.Player == null)
    {
        <PlayerJoin RoomID="roomID"/>
    }
    else if(service.GameState == "PlayersJoining")
    {
            <Lobby />
    }
</div>


@code {
    [Parameter]
    public string roomID { get; set; } = "";

    protected override async Task OnInitializedAsync()
    {
        service.OnChange += StateHasChanged;

        if(!IsConnected)
        {
            await service.ConnectAsync();

        }
    }


    public bool IsConnected =>
        service.hubConnection?.State == HubConnectionState.Connected;

    public void Dispose()
    {
        service.OnChange -= StateHasChanged;
    }
}
