@using TriviaRoyale.Client.Shared.PlayerPage
@page "/Player/{roomID}/{state}"

<h3>PlayerMain</h3>
@if(state == "lobby")
{
    <Lobby />
}
else
{
    <PlayerJoin />
}

@code {
    [Parameter]
    public string state { get; set; } = "";
    [Parameter]
    public string roomID { get; set; } = "";

}
