@using TriviaRoyale.Client.Shared.Host
@using TriviaRoyale.Client.Shared.PlayerPage
@using TriviaRoyale.Shared;
@page "/Player/{roomID}"
@inject PlayerService service;

<div class="d-flex flex-column justify-content-evenly align-items-center w-100 vh-100 bg-dark text-light">

    @if(service.Player == null)
    {
        <PlayerJoin RoomID="@RoomID" />
    }
    else
    {
        switch(service.GameState)
        {

   
            case GameState.Lobby:
                <Lobby />
                break;
            
            case GameState.Playing:
                <Playing />
                break;
            case GameState.PlayerToAnswer:
                <PlayerToAnswer />
                break;
            case GameState.OpponentToAnswer:
                <OpponentToAnswer />
                break;
            case GameState.Ended:
                <Ended />
                break;
            case GameState.EndOrElimination:
                <EndOrElimination />
                break;

            default:
                <PlayerJoin RoomID="roomID" />
                break;
        }
        
    }

</div>


@code {
    [Parameter]
    public string RoomID { get; set; } = "";

    protected override async Task OnInitializedAsync()
    {
        service.OnChange += StateHasChanged;

        if(!IsConnected)
        {
            service.RoomID = RoomID;
            await service.ConnectAsync();
            await service.hubConnection.InvokeAsync("JoinRoom", RoomID);

            if(service.Player == null)
            {
                Console.WriteLine("check if player exist");
                await service.hubConnection.InvokeAsync("RestorePlayer", RoomID);
            }

        }
    }


    public bool IsConnected =>
        service.hubConnection?.State == HubConnectionState.Connected;

    public void Dispose()
    {
        service.OnChange -= StateHasChanged;
    }
}
