@using TriviaRoyale.Client.Shared.PlayerPage
@page "/Player/{roomID}"
@inject HostService service;

<h3>PlayerMain</h3>

    <PlayerJoin />


@code {
    [Parameter]
    public string roomID { get; set; } = "";

    protected override async Task OnInitializedAsync()
    {
        service.OnChange += StateHasChanged;

        if(!IsConnected)
        {
            await service.ConnectAsync();

        }
    }


    public bool IsConnected =>
        service.hubConnection?.State == HubConnectionState.Connected;

    public void Dispose()
    {
        service.OnChange -= StateHasChanged;
    }
}
