@inject PlayerService service;

<h3>OpponentToAnswer</h3>
<button class="btn btn-primary p-2" type="submit" @onclick="GameEnded" @onclick:preventDefault>Simulate Game Over</button>

@code {
	private async Task GameEnded()
	{
		await service.hubConnection.SendAsync("EndOfGame");

	}

}
