@using TriviaRoyale.Shared;
@inject NavigationManager Navigation




<div class="d-flex flex-column justify-content-center align-items-center" style="height: 100vh;">
	@*<h3>Registrera spelare</h3>*@
	<br />
	<form>
		<div>
			<label for="name">Name:</label>
			<input class="form-control mb-2" type="text" id="name" @bind="player.Name" />
		</div>
		
		<button class="btn btn-primary"type="submit" @onclick="CreatePlayer">READY</button>
	</form>
</div>
<br />
<div>
	<p>@player.Name</p>
</div>
@code {
	private Player player = new Player();

	private void CreatePlayer()
	{

		if (player.Name != null)
			Navigation.NavigateTo($"/Host/{player.Name}");
	}
}
