@inject PlayerService service;


<h3>PlayerToAnswer: @service.Player.Name</h3>
<p>Points: @service.Player.Points</p>
<p>RoomID: @service.Player.RoomID</p>
<button class="btn btn-primary p-2" type="submit" @onclick="GameEnded" @onclick:preventDefault>Simulate Game Over</button>

@code {
	private async Task GameEnded()
	{
		await service.hubConnection.SendAsync("EndOfGame");

	}

}