@inject PlayerService service;


@*<button class="btn btn-primary p-2" type="submit" @onclick="GameEnded" @onclick:preventDefault>Simulate Game Over</button>
<button class="btn btn-primary p-2" type="submit" @onclick="NewQuestion" @onclick:preventDefault>Simulate New Question</button>
*@
<div class="component-body w-100 d-flex flex-column justify-content-center align-items-center @(isAnswering ? "flash":"bg-dark")">

    @if(isAnswering)
    {

        <h1>Give your answer!</h1>
        <audio autoplay controls><source src="/crooner2.mp3" /></audio>

    }
    else
    {
        <div class="d-flex flex-column">
            <h1 class="text-light mb-5">Too slow! </h1>
            <h4 class="text-light">Player to answer:</h4>
            <TriviaRoyale.Client.Shared.Components.PlayerComponent Player="service.PlayerAnswering" />
        </div>
    }
</div>

@code {

    public bool isAnswering { get; set; } = false;



    protected override void OnInitialized()
    {
        if(service.Player.ID == service.PlayerAnswering.ID)
        {
            isAnswering = true;
        }
        else
            isAnswering = false;

        StateHasChanged();

        base.OnInitialized();
    }


    private async Task NewQuestion()
    {
        await service.hubConnection.SendAsync("StartGame");

    }

    private async Task GameEnded()
    {
        await service.hubConnection.SendAsync("EndOfGame");

    }

}