@{
    ViewData["Title"] = "Privacy Policy";
}

<div class="container mt-5">
    <h1 class="mb-5">Integritetspolicy för Trivia Royale</h1>
    <p class="mb-5">Vi på Trivia Royale värnar om din integritet och vill att du ska känna dig trygg när du använder vår sajt. Därför har vi tagit fram denna integritetspolicy, som beskriver hur vi behandlar och skyddar dina personuppgifter.</p>
    <h2 class="mb-4">Vilka personuppgifter samlar vi in?</h2>
    <p class="mb-4">Vi samlar in de personuppgifter som du lämnar till oss när du registrerar dig som användare på Trivia Royale, såsom ditt namn och din e-postadress. Vi samlar även in information om hur du använder sajten, t.ex. vilka frågor du besvarar och vilka spel du spelar.</p>
    <h2 class="mb-4">Varför samlar vi in dina personuppgifter?</h2>
    <p class="mb-4">Vi samlar in dina personuppgifter för att kunna erbjuda en personaliserad och användarvänlig tjänst på Trivia Royale. Dina personuppgifter används även för att kontakta dig i samband med tävlingar och erbjudanden.</p>
    <h2 class="mb-4">Hur skyddar vi dina personuppgifter?</h2>
    <p class="mb-4">Vi vidtar alla rimliga tekniska och organisatoriska åtgärder för att skydda dina personuppgifter mot obehörig åtkomst och användning.</p>
    <h2 class="mb-4">Vilka rättigheter har du?</h2>
    <p class="mb-4">Du har rätt att få tillgång till och att begära rättelse av dina personuppgifter som vi har samlat in. Du kan även begära att vi raderar dina personuppgifter, såvida det inte finns några lagliga skäl som hindrar oss från att göra det. Du har även rätt att invända mot viss användning av dina personuppgifter.</p>
    <p class="mb-4">Om du vill utöva någon av dina rättigheter kan du skicka ett e-postmeddelande till oss på info@triviaroyale.com.</p>
    <h2 class="mb-4"> Ändringar av denna integritetspolicy</h2>
    <p class="mb-4">
        Vi förbehåller oss rätten att uppdatera denna integritetspolicy när som helst. Alla ändringar av integritetspolicyn publiceras på denna sida. Vi rekommenderar att du regelbundet granskar denna integritetspolicy för att hålla dig uppdaterad om hur vi skyddar dina personuppgifter.
    </p>
    <h2 class="mb-4">Kontakta oss</h2>
    <p class="mb-4">Om du har några frågor eller funderingar kring vår integritetspolicy eller hur vi behandlar dina personuppgifter</p>
</div>
