@using TriviaRoyale.Shared;
@inject HostService service

<h3>GameEnd</h3>

@foreach(var player in service.Players)
{
    <div>
        <h4>@player.Name</h4>
        <p>Score: @player.Points</p>
    </div>
}

@code {
    List<Player> players;
    protected override Task OnInitializedAsync()
    {
        players = service.Players.OrderByDescending(p => p.Points).ToList();
        StateHasChanged();
        return base.OnInitializedAsync();
    }
}
