@using TriviaRoyale.Shared;
<div class="player-card bg-light rounded-2 m-2 d-flex flex-column justify-content-center align-items-center" >
    <span style="font-size: 3rem;">@Player.Emoji</span>

    <h5 class="p-3"> @Player.Name</h5>
</div>

@code {
    [Parameter]
    public Player Player { get; set; }
}
